.container {
  width: 100%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

#left-panel {
  width: 50%;
  height: 100%;
  float: left;
}

#right-panel {
  margin-left: 50%;
  height: 100%;
}

.highlight{
    color: red;
}
